<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
<div class="container" style="margin-top: 50px;">
    <div class="card bg-dark text-white" style="width: 400px; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">{{ job.title|upper }}</h5>
            <h6 class="card-subtitle mb-2 ">{{ job.company|default_if_empty:"Empty" }}</h6>
            <p class="card-text"> {{ job.description|linebreaksbr }}
            <p class="card-text">Salary: {{ job.salary }}</p>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
